<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <title>Horoscope Match - Browsen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/icons/favicon.ico">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <%- css %>
</head>

<body>
